// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
    font-family: 'Zilla Slab', serif;
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar-brand {
    font-size: 150%;
}

.nav-item {
    font-size: 110%;
}

body {
    padding-top: 48px;
    font-family: 'Open Sans';
}

br {
    font-size: 50%;
}

.headline {
    font-family: 'Zilla Slab', serif;
    font-size: 300%;
}

.authdate {
    font-family: 'Zilla Slab', serif;
    font-size: 110%;
}

.content {
    font-family: 'Open Sans';
    font-size: 100%;
    text-align: justify;
}

.img-fluid {
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
}

@media screen and (min-width: 700px) {
    #sticky-sidebar {
        width: 80%;
        max-width: 24em;
        margin: 0 auto;
        padding: 0.25em 0.625em;
    }
}

@media screen and (min-width: 992px) {
    #sticky-sidebar {
        position: fixed;
        max-width: 30%;
        margin-left: 65%;
        width: 100%;

    }

    .img-fluid {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1300px) {
    #sticky-sidebar {
        margin-left: 58%;
    }
}

@media screen and (min-width: 1490px) {
    #sticky-sidebar {
        margin-left: 50%;
    }
}

@media screen and (min-width: 1780px) {
    #sticky-sidebar {
        margin-left: 40%;
    }
}